h1{
    text-align: center;


}
p{
    text-align: center;
}

#txtGuess{
    margin-left: 75px;
    background-color: aqua;
    
}
#guessBtn{
    align-items: center;
    background-color: blue;
    color: white;
}